- if owner.membership.present?
  = render 'effective/memberships/membership', membership: owner.membership
- elsif owner.membership_removed?
  %p Removed on #{owner.membership_removed_on.strftime('%F')}
- else
  %p Not a member
