- datatable = EffectiveResources.best('EffectiveFeePaymentsDatatable').new(self, namespace: :effective)

%h2 Fee Payments

- if datatable.present?
  = render_simple_datatable(datatable)
- else
  %p You have no past fee payments. When you do, we'll show them here.
