= wizard_card(fee_payment) do
  %table.table.table-sm
    %tbody
      %tr
        %td= icon('check')
        %td Yes, I hereby certify that I have read and will adhere to the Code of Ethics
      %tr
        %td= icon('check')
        %td Yes, I hereby certify that the statements and information contained herein are correct
