.card
  .card-body
    .row
      .col-sm
        %h5.card-title= fee_payment.wizard_step_title(:demographics)
      .col-sm-auto.text-right
        = link_to('Edit', wizard_path(:demographics)) if edit_effective_wizard?

    = render 'effective/fee_payments/demographics_owner', fee_payment: fee_payment, owner: fee_payment.owner
