%table.table
  %tbody
    %tr
      %th Name
      %td= owner.to_s

    - if owner.respond_to?(:email) && owner.email.present?
      %tr
        %th Email
        %td= mail_to owner.email

    - if owner.respond_to?(:date_of_birth) && owner.date_of_birth.present?
      %tr
        %th Date of Birth
        %td= owner.date_of_birth.strftime('%F')

    - if owner.respond_to?(:phone) && owner.phone.present?
      %tr
        %th Phone:
        %td= owner.phone
