%h2 Membership

- if current_user.membership.present?
  %p
    = succeed('.') do
      You are a #{current_user.membership.category} member
      who joined on #{current_user.membership.joined_on.strftime('%F')}

- else
  %p You are not a member.
