- current_owner = current_user.effective_memberships_owner
- membership = current_owner.membership

- card = EffectiveMemberships.MembershipCard.new(membership: membership)
- authorized = EffectiveResources.authorized?(self, :show, card)

%h2 Membership Card

- if membership.present?
  - if authorized
    %p Your membership card is available for download.
    %p= link_to 'Download Membership Card', effective_memberships.memberships_card_membership_path(membership, format: :pdf), class: 'btn btn-primary'
  - else
    %p Your membership card is not available for download.

- else
  %p You are not a member.
