.card
  .card-body= render 'effective/fee_payments/summary', fee_payment: fee_payment

= render 'effective/fee_payments/fee_payment', fee_payment: fee_payment
= render 'effective/fee_payments/orders', fee_payment: fee_payment
