- registrar_action = Effective::RegistrarAction.new(current_user: current_user, user: user)

- if user.membership.blank?
  %p No membership present

- if user.membership.present?
  = render 'admin/registrar_actions/form_bad_standing', registrar_action: registrar_action
  = render 'admin/registrar_actions/form_reclassify', registrar_action: registrar_action
