= effective_form_with(model: [:admin, category], engine: true) do |f|
  %h3 Wizard Steps

  %p The following steps will be required when purchasing fees for this membership category.

  - f.object.fee_payment_wizard_steps += EffectiveMemberships.FeePayment.required_wizard_steps
  = f.checks :fee_payment_wizard_steps, f.object.fee_payment_wizard_steps_collection()

  = f.submit
