.effective-applicant
  - blacklist = [:start, :select, :ready, :review, :checkout, :submitted]
  - steps = resource.required_steps - blacklist

  - steps.select { |step| applicant.has_completed_step?(step) }.each do |partial|
    .mb-4= render "effective/applicants/#{partial}", applicant: applicant, step: partial
