.effective-applicant
  - blacklist = EffectiveMemberships.Applicant.required_wizard_steps
  - steps = applicant.required_steps - blacklist

  - steps.select { |step| applicant.has_completed_step?(step) }.each do |partial|
    .mb-4= render "effective/applicants/#{partial}", applicant: applicant, step: partial
