- all_steps_content = resource.membership_category&.rich_text_applicant_all_steps_content
- step_content = resource.membership_category&.send("rich_text_applicant_#{step}_content")

- if all_steps_content.present?
  .card
    .card-body= all_steps_content

- if step_content.present?
  .card
    .card-body= step_content
