- if f.object.respond_to?(:first_name)
  = f.text_field :first_name

- if f.object.respond_to?(:last_name)
  = f.text_field :last_name

- if f.object.respond_to?(:date_of_birth)
  = f.date_field :date_of_birth

- if f.object.respond_to?(:phone)
  = f.tel_field :phone
