.card
  .card-body
    .row
      .col-sm
        %h5.card-title= applicant.wizard_step_title(:education)
      .col-sm-auto.text-right
        = link_to('Edit', wizard_path(:education)) if edit_effective_applicants_wizard?

    - datatable = EffectiveApplicantEducationsDatatable.new(applicant_id: applicant.id)
    .mb-4= render_simple_datatable(datatable)

    %h6 Additional Education Details
    = simple_format(applicant.applicant_educations_details.presence || 'none')
