= wizard_card(applicant) do
  - datatable = EffectiveApplicantEducationsDatatable.new(applicant: applicant)
  .mb-4= render_simple_datatable(datatable)

  - if applicant.applicant_educations_details.present?
    %h6 Additional Education Details
    = simple_format(applicant.applicant_educations_details)
