= wizard_card(applicant) do
  %table.table
    %tbody
      -# %tr
      -#   %th CV / Resume Upload
      -#   %td
      -#     - if applicant.cv.attached?
      -#       = link_to(applicant.cv.filename, url_for(applicant.cv), target: '_blank')
      -#     - else
      -#       None

      %tr
        %th Total Months
        %td= applicant.applicant_experiences_months

  - datatable = EffectiveApplicantExperiencesDatatable.new(applicant: applicant)
  .mb-4= render_simple_datatable(datatable)

  - if applicant.applicant_experiences_details.present?
    %h6 Additional Experiences Details
    = simple_format(applicant.applicant_experiences_details)
