= wizard_card(applicant) do
  - applicant.applicant_references.each_with_index do |applicant_reference, index|
    - if index > 0
      .mb-4

    %h6 Reference ##{index + 1}

    = render('effective/applicant_references/applicant_reference', applicant_reference: applicant_reference)
