%p
  Official transcripts must be mailed directly from the institution
  where the credential was granted to:

%p.text-center
  TODO
  %br
  %br
  %br

%p
  = succeed('.') do
    Institutions must send the electronic transcripts to
    = mail_to 'todo@example.com'
