= dropdown(variation: :dropleft) do
  - unless applicant_reference.completed?
    = dropdown_link_to 'Notify', effective_memberships.notify_applicant_reference_path(applicant_reference),
      data: { method: :post, confirm: "Really notify #{applicant_reference.email}?" }
