%h1= @page_title

%p
  Please provide a reference for the applicant
  = succeed('.') do
    %strong= @applicant_reference.applicant.user

= render('form_declaration', applicant_reference: @applicant_reference)
